{
    "root": true,
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "overrides": [
        {
            "files": [
                "applications/dashboard/**/*",
                "applications/bamboo/**/*",
                "packages/planet-ui-icons/**/*"
            ],
            "extends": "react-app"
        }
    ]
}
